blinker==1.4
certifi==2021.10.8
charset-normalizer==3.0.1
click==7.1.2
Flask==1.1.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==2.0.1
requests==2.26.0
urllib3==1.26.7
Werkzeug==2.0.2
yt-dlp==2023.7.6
demucs==4.0.1

gunicorn