--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
torch>=1.8.1+cpu
--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
torchaudio>=0.8,<2.1
blinker==1.4
certifi==2021.10.8
charset-normalizer~=2.0.0
click==7.1.2
Flask==1.1.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
requests==2.31.0
urllib3==1.26.17
Werkzeug==1.0.1
yt-dlp==2023.11.16
pathlib==1.0.1
PySoundFile==0.9.0.post1
gunicorn

