antlr4-python3-runtime==4.9.3

blinker==1.4

Brotli==1.1.0

certifi==2021.10.8

cffi==1.16.0

charset-normalizer==2.0.12

click==7.1.2

cloudpickle==3.0.0

# Editable install with no version control (demucs==4.1.0a2)

-e /app/demucs

dora_search==0.1.12

einops==0.7.0

filelock==3.13.1

Flask==1.1.4

fsspec==2024.3.0

gunicorn==21.2.0

idna==2.10

itsdangerous==1.1.0

Jinja2==2.11.3

julius==0.2.7

lameenc==1.7.0

MarkupSafe==1.1.1

mpmath==1.3.0

mutagen==1.47.0

networkx==3.1

numpy==1.24.4

omegaconf==2.3.0

openunmix==1.2.1

packaging==24.0

pathlib==1.0.1

pillow==10.2.0

pycparser==2.21

pycryptodomex==3.20.0

PySoundFile==0.9.0.post1

PyYAML==6.0.1

requests==2.31.0

retrying==1.3.4

six==1.16.0

soundfile==0.12.1

submitit==1.5.1

sympy==1.12

torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu

tqdm==4.66.2

treetable==0.2.5

typing_extensions==4.10.0

urllib3==1.26.17

websockets==12.0

Werkzeug==1.0.1

yt-dlp==2023.11.16