html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  background: url("/static/background-image.jpg");
  text-align: center;
  padding: 50px;
  color: #dbe5c9;
}

.center-content {
  background: rgba(0, 0, 0, 0.5);
  width: 82%;
  margin: 0 auto;
  padding: 75px;
  height: 100%;
}

h1 {
  font-size: 3.5em;
  margin-bottom: 30px;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  height: 45px;
}

.container {
  display: inline-flex;
}

#submitBtn {
  background: none;
  color: #ffa260;
  border: 2px solid;
  padding: 1em 2em;
  font-size: 1em;
  border-radius: 3px;
}
#submitBtn {
  background: none;
  color: #ffa630;
  border: 2px solid;
  padding: 1em 2em;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  height: 45px;
  width: 120px;
  margin-left: 50px;
}

.submitBtnText {
  margin-top: -7px;
}
#submitBtn:hover {
  border-color: #f1ff5c;
  color: white;
  box-shadow: 0 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.25em);
  cursor: pointer;
}

.btnText {
  margin-top: -6px;
}
