html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: url(/static/background-image.jpg);
  text-align: center;
  margin: 0;
  padding: 0;
  color: #ecfff8;
  /* min-height: 100vw; */
  /* background: currentColor; */
  background-size: auto;
}

body::after {
  content: "";
  background: rgba(0, 0, 0, 0.22);
  /* Adjust the last value for opacity (0.5 for 50%) */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
}

textarea:focus,
input:focus {
  outline: none;
}

input:focused {
  outline-width: 0;
}

.main-container {
  text-align: center;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: linear-gradient(to right, #dabaec, #a39deb);
}

.page-header {
  color: #f6efef;
}

label {
  font-size: 10px;
  display: block;
  margin-bottom: -3px;
  text-align: left;
  width: 100%;
}

input:focus,
textarea:focus {
  outline: none;
}

.form-control,
input {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  font-size: 15px;
  outline: none;
  transition: border-color 0.3s;
  background: none;
  border: none;
  border-bottom: 1px solid #aeadf0;
  border-radius: 0;
  box-shadow: 0 4px 2px -2px gray;
  box-shadow: 0px 2px 2px -2px #aeadf0;
  margin-bottom: 5px;
  color: #ecfff8e8;
  text-align: left;
  font-style: italic;
  height: 40px;
}

.form-control:focus {
  outline: none;
}

.form-control:focus,
input:focus {
  border-color: #582a70;
  outline: none;
}

.btn-container {
  display: flex;
  justify-content: space-between !important;
  margin-top: 20px;
}

.progress-container {
  margin-top: 20px;
  display: none;
}

.progress-bar {
  background-color: #007bff;
}

.center-content {
  background: rgb(0 0 0 / 66%);
  width: 58%;
  max-height: 100%;
  margin: 0 auto;
  padding: 75px;
  display: flex;
  flex-direction: column;
  height: 100vw;
  overflow: auto;
}

.form-check-input {
  --bs-form-check-bg: #ffffff00 !important;
}

#submitBtn {
  background-color: rgba(100, 100, 100, 0.3);
  color: #dadafa;
  border: 2px solid;
  padding: 0.5em 2em;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  height: 49px;
  width: 220px;
  margin-left: 50px;
  border-radius: 0.375rem;
}

#submitBtn:hover {
  border-color: #ecfff8;

  color: #ecfff8;
  box-shadow: 0 12px 16px 0 rgba(81, 81, 81, 0.24), 0 17px 50px 0 rgba(102, 101, 101, 0.19);
  transform: translateY(-0.25em);
  cursor: pointer;
}

select#fileType {
  width: 110px;
  margin-right: 15px;
  height: 49px;
  color: rgb(0, 0, 0);
  background-color: #f6d9fd;
  /* border: 0px; */
  cursor: pointer;
}

select#fileType:hover {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>");
  /* background-repeat: no-repeat; */
  transition: all 0.3s ease-in-out;
  width: 110px;
  margin-right: 15px;
  height: 49px;
  background-color: #b982da;
  border: 2px solid #ecfff8;
}

.hoverLine {
  margin-top: 70px;
  position: absolute;
  text-align: left;
  margin-left: -69px;
  height: 3px;
  width: 0;
  background: linear-gradient(to right, rgb(78 35 78 / 80%), rgba(255, 255, 255, 0.2));
  transition: width 0.5s ease, margin-left 0.5s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.hoverLine:hover {
  width: 100%;
  margin-left: 0;
  transition: width 0.5s ease, margin-left 0.5s ease;
}

.btnText {
  margin-top: -6px;
}

.main-form {
  /* background: rgb(117 78 78 / 6%); */
  border: 1px solid rgba(174, 173, 240, 0.3);
  backdrop-filter: blur(82px);
  box-shadow: 0 0 10px rgb(255 255 255 / 15%);
  color: white;
  border-radius: 10px;
  padding: 30px 40px;
  position: relative;
  width: fit-content;
}

.link-icon {
  color: #d8dcff;
  position: absolute;
  left: -2px;
  top: 32%;
  transform: translateY(-50%);
  height: 5px;
  width: 5px;
  /* margin-right: 10px; */
}

.container-a {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

.form-check {
  width: 100%;
}

.form-check-input {
  /* transform: scale(1); */
  /* cursor: pointer; */
  /* width: 5px; */
}

.form-check-input:checked {
  background-color: #b200ff;
  border: none;
}

.radio-label {
  font-size: 19px;
  padding-left: 15px;
  padding-top: 8px;
  color: #ebedff;
  transform: scale(0.8);
  text-wrap: nowrap;
}

* {
  /* box-sizing: border-box; */
  /* outline: none; */
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

img,
svg {
  vertical-align: -0.125rem;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  background-color: #f8f5f4;
  color: #000;
  border-radius: 8px;
  padding: 8px;
  position: absolute;
  width: 336px;
  transform: translate(-40%, -125%);
  z-index: 1;
  font-size: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.tooltip .tooltip-text::after {
  transition: 0.3s;
  content: "";
  position: absolute;
  bottom: 100%;
  right: 50%;
  border-width: 8.66px;
  border-style: solid;
  border-color: transparent transparent #f8f5f4;
}

.tooltip:hover .tooltip-text,
.tooltip:focus .tooltip-text {
  visibility: visible;
  transition: 0.3s;
}

.stems-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin-top: 20px;
}

.stem-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 20px;
  background: #6a056442;
  border: 2px solid purple;
  padding: 15px;
  border-radius: 33px;
}

.stem-label {
  font-size: 30px;
  text-align: center;
}

.stem-player {
  width: 100%;
}

.spinnyGif {
  height: 25px;
  margin-right: 15px;
  margin-top: 12px;
}
